//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;

/* comment */ 
body{
    background-color: adjust-color($color: #000000, $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0)
}

.main { 
    background: $body-background-color; 
}